{% extends 'template.html' %}

{% block content %}
<div class="titleP"><h2><strong>Porosity Test</strong></h2></div>
<div class="row leftContain">
    <div class="col-md-6">
    <img class="image" src="https://i.ibb.co/5Y6PGbv/Porosity-image3-be3ea098-6f76-4dad-ad0c-9ff493dd77f2-removebg-preview.png" alt="Porosity-image3-be3ea098-6f76-4dad-ad0c-9ff493dd77f2-removebg-preview" class="img-fluid" alt="Hair Porosity Guide" width = '100%'>
    </div>
    <div class="col-md-6">
        <ol><h2>You will Need:</h2></ol>
        <br>
        <li>A bowl/ cup of water</li>
        <br>
        <li>Clean strand(s) of hair</li>
    </div>
</div>
<br>

<div class="row leftContain">
    <div class="col-md-3">
        <br>
        <h2>Step 1</h2>
        <br>
        <p>Place hair strand(s) in 
        <br>bowl / cup of water </p>
    </div>
    <div class="col-md-3">
        <br>
        <h2>Step 2</h2>
        <br>
        <p>Allow Hair Stand to 
        <br>sit for 5-15 minutes</p>
    </div>
   
        <div class="col-md-2">
            <br>
            <h2>Observe Results </h2>
            <img class="image" src="https://www.iconpacks.net/icons/2/free-arrow-right-icon-2817-thumb.png" width = "50%">
            
        </div>
        <div class="col-md-2">
            <img class="image"src="https://cdn.shopify.com/s/files/1/0091/7949/6495/files/How-to-identify-your-hair-porosity_5_2048x2048.jpg?v=1701402854" width="220%">
        </div>  
   
</div>
{% endblock %}
