{% extends 'template.html' %}
{% block content %}
<div class="question">
    <h3>Match the labels to the correct cup:</h3>
    <div id="image1" class="dropzone">
        <img src="https://i.ibb.co/7t8D8LQ/Screenshot-2024-04-17-at-8-43-23-PM.png" alt="Low Porosity Image">
    </div>
    <div id="image2" class="dropzone">
        <img src="https://i.ibb.co/f4JnT0v/Screenshot-2024-04-17-at-8-43-29-PM.png" alt="Medium Porosity Image">
    </div>
    <div id="image3" class="dropzone">
        <img src="https://i.ibb.co/bJ4k3P5/Screenshot-2024-04-17-at-8-43-36-PM.png" alt="High Porosity Image">
    </div>
    <div class="labels">
        <div id="low" draggable="true" class="draggable">Low Porosity</div>
        <div id="medium" draggable="true" class="draggable">Medium Porosity</div>
        <div id="high" draggable="true" class="draggable">High Porosity</div>
    </div>
    <button id="submitBtn" data-next-url="{{ url_for('quizQuestion2') }}" class="btn btn-primary">Submit</button>

</div>
<script>
   
</script>
{% endblock %}
