{% extends 'template.html' %}

{% block content %}

<div class="container mt-4">
    <div class="item-details">
        <div class="title">
            <h2><strong>More Information</strong></h2>
        </div>
        <div class="row">
            <div class="col-md-6 vidText ">
                <p class="text"><em><strong>Welcome!</strong></em> This webpage teaches the various porosities found in hair. Along with this you will learn the best products and practices to uses for the specified porosity level.
                    <br>
                    <br>
                    <a href ="/view/1" class="mainButton">Understand the Porosities </a>
                    <br>
                    <br>
                    <a href ="/learn" class="mainButton">Learn Your Porosity</a>
                    <br>
                    <br>
                    <a href ="/quizStart" class="mainButton">Take the Quiz to test your knowledge of what you’ve learned!</a>
                    <br>
                    <br>
                    <!--<a href="leaveaComment.html" class="mainButton">"Leave a comment!"</a> -->
                    </p>
            </div>
            <div class="col-md-6 center">
                <img class="image" src="https://images.typeform.com/images/nhjaLav3ZVsA/image/default" alt="Different Natural Hair Types" style="width: 110%; height:fixed; "> <br>
                
            </div>
        </div>
    </div>

<br>
<br>
<br>
<br>
<br>

{% endblock %}
