{% extends 'template.html' %}

{% block content %}
<div class="title"><h2><strong>Porosity Test</strong></h2></div>
<div class="row leftContain">
    <div class="col-md-6">
        <img class="image img-fluid" src="https://i.ibb.co/5Y6PGbv/Porosity-image3-be3ea098-6f76-4dad-ad0c-9ff493dd77f2-removebg-preview.png" alt="Porosity Guide">
    </div>
    <div class="col-md-6 textFC">
        <h2><div class="testTitle">You Will Need:</div></h2>
        <ol>
            <li>A bowl/cup of water</li>
            <li>Clean strand(s) of hair</li>
        </ol>
    </div>
</div>
<br>

<div class="row leftContain text">
    <div class="col-md-3 textFC">
        <h2><div class="testTitle">Step 1</div></h2>
        <p>Place hair strand(s) 
            <br>in a bowl/cup of water.</p>
    </div>
    <div class="col-md-3 textFC">
        <h2><div class="testTitle">Step 2</div></h2>
        <p>Allow hair strand to 
            <br>sit for 5-15 minutes.</p>
    </div>
    <div class="col-md-2 textFC">
        <h2><div class="testTitle">Observe Results</div></h2>
        <img src="https://i.ibb.co/TWBrPXH/white-Arrow-Outline-removebg-preview-removebg-preview.png" alt="White Arrow" class="img-fluid" width="50%">
    </div>
    <div class="col-md-4 d-flex flex-column align-items-center"> 
        <img class="img-fluid image" src="https://cdn.shopify.com/s/files/1/0091/7949/6495/files/How-to-identify-your-hair-porosity_5_2048x2048.jpg?v=1701402854" alt="Hair Porosity">
        <a href="/quizStart" class="btn mainButton mt-3">Take the quiz!</a> 
    </div>
</div>
{% endblock %}

